.container
    .jumbotron
        h1 Mean Stack Site
        p Welcome to this Site more information will be coming soon. it will include training information and allow you to create new training sessions.

    .row
        .col-md-6
            div(ng-include="'/partials/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/new-courses'")

