body
  padding-top 69px
  background-color #5a5a5a

.table
  background-color #ffffff


.navbar-header a.navbar-brand
  font-size 30px

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.top-padding-med
  padding-top 10px

.margin-left-med
  margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #13987e

.carousel
  height 300px
  margin-bottom 60px

.carousel-inner
  height  300px
  margin-bottom 60px

.carousel-caption
  z-index 10

.carousel .item
  height 300px
  margin-bottom 60px
  background-color #777

.carousel .item .active
  height 300px
  margin-bottom 60px
  background-color #777

.carousel-inner > .item > img
  position absolute
  top 0
  left 0
  min-width 100%
  height 300px

.angular-google-map-container
  height 400px
  margin-bottom 10px

