.container
  .jumbotron
    h1 IndyVision
    p Welcome to IndyVision! The most comprehensive and complete collection of things to do in Indianapolis.

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-events'")
    .col-md-6
      div(ng-include="'/partials/main/new-events'")