.container(data-ng-init="getLocations()")
  .row
    .col-lg-12
        google-map( center="map.center", zoom="map.zoom", draggable ="true", bounds="map.bounds")
            markers
                marker(ng-repeat="ticket in map.tickets", coords="ticket.marker" options="ticket.options")
                marker(ng-repeat="accident in map.accidents", coords="accident.marker" options="accident.options")
        //input(type="text" ng-model="numberOfHoles") {{$scope.mapInstance.bounds.northeast.latitude}}
        //button(ng-click="getLocations()") Get Tickets

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-events'")
    .col-md-6
      div(ng-include="'/partials/main/new-events'")